.auth{
  &-layout{
    background-image: url("~@/static/images/Mesa.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__auth{
      &-card{
        position: relative;
        z-index: 9;
        &:after{
          content: '';
          border-radius: inherit;
          position: absolute;
          z-index: -1;
          opacity: 0.6;
          top: 0;
          height: 100%;
          width: 100%;
          background: linear-gradient(0deg, #531989 0%, #1976d2 85%);
        }
      }
    }
  }
}
